.active {
    @apply border-b-2 border-white pb-1;
}

input {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent rounded;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://res.cloudinary.com/dzrdfpulv/image/upload/v1731535908/nurses_fr5xly.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}